<section class="hero">
    <div class="hero-content">
        <h1>Hello, I'm Rishabh Raj Sharma,</h1>
        <h3>A passionate Frontend developer / Ui-Ux designer from India.</h3>
        <p>I create websites that are not only visually pleasing but also highly functional and user friendly.</p>
        <div class="cta">
            <button class="download" mat-raised-button>
                <mat-icon>attach_file</mat-icon>
                Download CV
            </button>
            <div class="figma" matRipple [matRippleColor]="'#ffffff50'">
                <img class="iconFigma" src="../../../assets/icon/IconFigmaStroke.svg" alt="IconFigmaStroke" /><span>View
                    Figma</span>
            </div>
        </div>
    </div>
</section>