<section class="expertise">
    <h2>From Concept to Completion</h2>
    <div class="container">
        <div class="content">
            <h3 class="header">UI / UX Desigining</h3>
            <app-image-box class="image-box"></app-image-box>
        </div>
        <div class="content">
            <h3 class="header">Web Desigining</h3>
            <app-image-box class="image-box"></app-image-box>
        </div>
        <div class="content">
            <h3 class="header">Frontend Development</h3>
            <app-image-box class="image-box"></app-image-box>
        </div>
        <div class="content">
            <h3 class="header">Graphic Development</h3>
            <app-image-box class="image-box"></app-image-box>
        </div>
    </div>
</section>