.expertise {
    display: flex;
    flex-direction: column;
    background: url('../../../assets/images/ImgBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    // height: 100vh;
    color: white;
    align-items: flex-start;

    @media screen and (max-width: 900px) {
        height: 100vh;
    }

    h2 {
        border-bottom: 2px solid white;
        padding-bottom: 24px;
        margin: 120px 24px 60px 24px;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 42px;
    }

    .container {
        display: flex;
        width: 100%;
        height: 100%;

        .content {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 24px;
            align-items: flex-end;

            .image-box {
                margin-right: 24px;
            }


            .header {
                width: 100%;
                letter-spacing: 2px;
                font-weight: 400;
                font-size: 32px;
            }
        }
    }
}