<section class="expertise">
    <h2>From Concept to Completion</h2>
    <div class="container">
        <div class="content">
            <h3 class="header">UI / UX Desigining</h3>
            <div class="images">
                <div class="overlap">
                    <div class="interface">
                        <img class="interfaceImg" src="{{interface}}" alt="interface">
                    </div>
                    <img class="figmaIcon" src="{{figmaIcon}}" alt="figmaIcon">
                    <img class="framerIcon" src="{{framerIcon}}" alt="framerIcon">
                    <img class="XDIcon" src="{{XDIcon}}" alt="XDIcon">
                    <img class="mobile" src="{{mobile}}" alt="mobile">
                    <img class="macbook" src="{{macbook}}" alt="macbook">
                </div>
            </div>
        </div>
    </div>
</section>